.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(42, 165, 42);
    margin: auto;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

img {
    object-fit: cover;
}

.imported-data, .hidden {
    display: none !important;
}

.switch-button {
    margin: 10px 10px;
    height: 80px;
    max-width: 220px;
    width: 100%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    text-transform: uppercase;
    background-color: green;
    border: none;
    transition-duration: 0.1s;
}

@media (hover: hover){ 
    .switch-button:hover{
        background-color: greenyellow; 
        transition-duration: 0.1s;
    }
}
